@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TUNGSTEN";
  src: url("font/Tungsten-Bold.ttf");
}

@font-face {
  font-family: "DIN";
  src: url("font/DinNext/DINNextW1G-Regular.otf");
}

@font-face {
  font-family: "DINBOLD";
  src: url("font/DinNext/DINNextW1G-Bold.otf");
}

@layer components{
  .active{
    @apply text-red-600 font-dinBold;
  }
}